.item {
    display: flex;

    cursor: pointer;
    padding: 4px;

    .item-name {
        background-color: blue;
    }

    .info {
        border: 1px solid red;
    }
}

.itemBegingroup {
    border-top: 1px solid gray;
}

.circle {
    fill: #ff00005a;
    stroke: #aa0000;
    stroke-width: 2;
    cursor: move;
}
