.item {
    display: flex;
    //justify-content: space-between;
    align-items: center;

    cursor: pointer;
    padding: 4px;
    padding-right: 4rem;

    .info {
        flex: none;
        align-self: stretch;

        border: 2px solid #00000080;
        border-radius: 3px;
        width: 3rem;

        overflow: hidden;
        position: relative;
        --size: 80;
        --color: green;
    }

    .info:after {
        content: "";
        position: absolute;
        inset: 0;
        //right: calc(var(--size) * 1%);
        // background-size: calc(var(--size) * 1%);
        background-color: var(--color);

        transform: scaleX(calc(calc(100 - var(--size)) * 1%));
        transform-origin: left;
    }

    .item-name {
        margin-left: 0.25rem;
        padding-bottom: 2px;
    }
}

.itemBegingroup {
    border-top: 1px solid gray;
}

.circle {
    fill: #ff00005a;
    stroke: #aa0000;
    stroke-width: 2;
    cursor: move;
}
