.checkbox {
    $block: &;
    $size: 0.9em;
    // $size: 1.375em;

    cursor: pointer;
    display: flex;
    align-items: center;

    .input {
        position: absolute;
        width: $size;
        height: $size;
        opacity: 0;
        cursor: pointer;

        &:checked + .icon .tick {
            stroke-dashoffset: 0;
        }
    }

    .icon {
        width: $size;
        height: $size;
        flex-shrink: 0;
        overflow: visible;

        .frame {
            fill: #ffffff70;
            stroke: #006f94;
        }

        .tick {
            stroke: #6ea340;
            fill: none;
            stroke-linecap: round;
            stroke-width: 4;

            stroke-dasharray: 20px;
            stroke-dashoffset: 20px;
            transition: stroke-dashoffset 0.1s ease-out;
        }
    }

    .text {
        margin-left: 0.5em;
        font-size: 0.875rem;
        line-height: 1.25rem;
        user-select: none;
    }
}
