.checkbox {
    $block: &;
    $size: 1.375em;

    cursor: pointer;
    display: flex;
    align-items: center;

    .input {
        position: absolute;
        width: $size;
        height: $size;
        opacity: 0;
        cursor: pointer;

        &:checked + .icon .tick {
            stroke-dashoffset: 0;
        }
    }

    .icon {
        width: $size;
        height: $size;
        flex-shrink: 0;
        overflow: visible;

        .frame {
            fill: #FFF;
            stroke: #006F94;
        }

        .tick {
            stroke-dasharray: 20px;
            stroke-dashoffset: 20px;
            transition: stroke-dashoffset 0.2s ease-out;
        }
    }

    .text {
        margin-left: 0.5em;
    }
}
